@model DoAnCoSo.Models.ChangePassword

@{
    ViewData["Title"] = "ChangePassword";
}

<div class="container">

    <h1 class="display-4 text-center">Change Password</h1>
    <hr />
    <div class="row">
        <div class="col-md-4 offset-4">
            <form asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="currentPassword" class="control-label"></label>
                    <input asp-for="currentPassword" class="form-control" />
                    <span asp-validation-for="currentPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="newPassword" class="control-label"></label>
                    <input asp-for="newPassword" class="form-control" />
                    <span asp-validation-for="newPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="confirmPassword" class="control-label"></label>
                    <input asp-for="confirmPassword" class="form-control" />
                    <span asp-validation-for="confirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Change password" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-area="Identity" asp-page="/Account/Manage/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
