@model DoAnCoSo.Models.CauHoi
<h2>Delete Question</h2>
<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Mach" />
    <p>Are you sure you want to delete "@Model.Cauhoi"?</p>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>