@model DoAnCoSo.Models.BaiThi
@{
    ViewData["Title"] = "Add New Bai Thi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Bài Thi</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="MaDe" class="control-label"></label>
                <input asp-for="MaDe" class="form-control" />
                <span asp-validation-for="MaDe" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TenBaiThi" class="control-label"></label>
                <input asp-for="TenBaiThi" class="form-control" />
                <span asp-validation-for="TenBaiThi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ThoiGianLamBai" class="control-label"></label>
                <input asp-for="ThoiGianLamBai" class="form-control" type="number" />
                <span asp-validation-for="ThoiGianLamBai" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SoLuongCauHoi" class="control-label"></label>
                <input asp-for="SoLuongCauHoi" class="form-control" type="number" />
                <span asp-validation-for="SoLuongCauHoi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Mota" class="control-label"></label>
                <textarea asp-for="Mota" class="form-control"></textarea>
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            @*             <button type="button" class="btn btn-primary">Tiếp tục</button>
            *@            <button type="submit" class="btn btn-primary">Tạo</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay về</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
